
.fondo-img{
    background-image: url(./public/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.fondo-game{
    background-image: radial-gradient(circle at center center, #e01317, #f01115), repeating-radial-gradient(circle at center center, #e01317, #e01317, 29px, transparent 58px, transparent 29px);
  background-blend-mode: multiply;
  background-color: #f01115;
  }